NEXT_OPENROUTER_TOKEN=Token_example
NEXT_OPENROUTER_URL==https://api.openrouter.ai/v1
NEXT_SUPABASE_URL=https://example.supabase.co
NEXT_SUPABASE_KEY=alwKxUw1Dfs0Vvrc
NEXT_FIRECRAWL_KEY=your_firecrawl_key